* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background-color:white;
}
li{
    list-style: none;
}
/* Navigation Bar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191919;
}
.nav-links a{
    text-decoration: none;
    padding:6px 30px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: white;
    color: #191919;
    font-weight:bold;
}
.logo{
    cursor:pointer;
    margin-left:20px;
}

.nav-links li{
    display: inline-block;
    color: white;
    padding: 20px;
}

/* Content */

.content{
    flex: 1;
    padding: 100px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 100px;
}
.desc{
    width: 500px;
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
    background: #191919;
    color: white;
}
.footer-list{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    margin-top: 20px;
}
.copyright{
    text-align: center;
    font-size: small;
    margin-bottom: 10px;;
}