* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background-color:white;
}

/* Navigation Bar */

.nav-links a{
    text-decoration: none;
    padding:6px 30px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: white;
    color: #191919;
    font-weight:bold;
}
header{
    background-color: #191919;
}
.logo{
    cursor:pointer;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    color: white;
    padding: 20px;
}

/* Content */

.content{
    flex: 1;
    padding: 100px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 100px;
}
.desc{
    width: 500px;
}

/* Footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #191919;
    padding: 26px;
    color: white;
    height: 60px;
    font-size: 26px;
}