* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
    color: #191919;
}
body{
    background-color:#191919;
}
form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    box-shadow: 10px 5px 40px rgba(0,0,0,0.4);
    padding: 40px;
    background-color: white;
    border-radius: 10px;
}
button{
    background: #191919;
    border:none;
    border-radius:5px;
    padding:8px 36px;
    cursor: pointer;
    color: white;
    margin-top: 10px;
}
input[type=text], input[type=password], input[type=file], select {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    background-color: #f7f7f7;
}
p{
    margin-bottom: 5px;
}